.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #080850;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #225664;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #030916;
  color: white;
}

.navbar-nav {
  //padding-left: 75em;
  font-size: 15px;
  //float: right;
  flex: 0.5
}

.text {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  margin-right: 3em;
  margin-left: 3em;
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #184086;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
}

.btn1 {
  font-size: 15px;
  padding: 5px 20px;
  border: 0;
  background-color: #d9e4eb;
  color: rgb(22, 21, 21);
  border-radius: 1px;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-bottom: 3em;
  align-items: center;
  display: inline-block;
  cursor: pointer;
}

.App-link {
  color: #4197b1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
